<div
  class="bg-white border-b relative pb-2">

  <div class="max-w-fit mx-auto px-6">

    <!-- CATEGORIES -->
    <div class="flex flex-wrap items-center justify-center gap-3">


      <!-- ALL -->
      <button
        routerLink="/"
        (click)="clearSelection()"
        class="
          h-9 px-5 rounded-full
          flex items-center justify-center
          text-sm font-medium
          border
          transition-all duration-200
        "
        [class.bg-slate-900]="selectedCategoryId === null"
        [class.text-white]="selectedCategoryId === null"
        [class.border-slate-900]="selectedCategoryId === null"

        [class.bg-slate-100]="selectedCategoryId !== null"
        [class.text-slate-700]="selectedCategoryId !== null"
        [class.border-slate-200]="selectedCategoryId !== null">

        All

      </button>



      <!-- CATEGORIES -->
      <button

        *ngFor="let subcategory of beautySubcategories"
        routerLink="/"
        [queryParams]="{
          category: beautyCategory?.name,
          categoryId: beautyCategory?.id,
          subcategory: subcategory.name,
          subcategoryId: subcategory.id
        }"

      class="
        h-9 px-5 rounded-full
        flex items-center justify-center
        text-sm font-medium
        border
        transition-all duration-200
        whitespace-nowrap
      "
      [class.bg-slate-900]="selectedSubcategoryId === subcategory.id"
      [class.text-white]="selectedSubcategoryId === subcategory.id"
      [class.border-slate-900]="selectedSubcategoryId === subcategory.id"

      [class.bg-slate-100]="selectedSubcategoryId !== subcategory.id"
      [class.text-slate-700]="selectedSubcategoryId !== subcategory.id"
      [class.border-slate-200]="selectedSubcategoryId !== subcategory.id"

      [class.hover:bg-slate-200]="selectedSubcategoryId !== subcategory.id">

      {{ subcategory.name }}

    </button>


  </div>




  <!-- SUBCATEGORIES DROPDOWN -->
    <!--

    <div
      *ngIf="hoveredCategoryId !== null && activeCategory() as category"
      @subCategoryAnimation
      class="
        absolute
        top-full
        left-0
        w-full
        z-50
      "
      (mouseenter)="showSubcategories(category.id)"
    >


      <div
        class="
          bg-white
          border
          border-slate-200
          shadow-lg
          rounded-b-2xl
          px-6
          py-4
        "
      >


        <div
          *ngIf="category.subcategories!.length > 0"
          class="
            flex
            flex-wrap
            justify-center
            gap-3
          "
        >

          <a
            *ngFor="let sub of category.subcategories"
            routerLink="/"
            [queryParams]="{
              category: category.name,
              categoryId: category.id,
              subcategory: sub.name,
              subcategoryId: sub.id
            }"
            class="
              h-9 px-4
              rounded-full
              flex items-center
              text-sm font-medium
              border
              transition
            "

            [class.bg-slate-900]="selectedSubcategoryId === sub.id"
            [class.text-white]="selectedSubcategoryId === sub.id"
            [class.border-slate-900]="selectedSubcategoryId === sub.id"

            [class.bg-white]="selectedSubcategoryId !== sub.id"
            [class.text-slate-600]="selectedSubcategoryId !== sub.id"
            [class.border-slate-200]="selectedSubcategoryId !== sub.id"

            [class.hover:bg-slate-900]="selectedSubcategoryId !== sub.id"
            [class.hover:text-white]="selectedSubcategoryId !== sub.id"
          >

            {{ sub.name }}

          </a>


        </div>

        <div
          *ngIf="category.subcategories?.length === 0"
          class="
            h-9
            flex
            items-center
            justify-center
            text-sm
            text-slate-400
          "
        >
          No subcategories
        </div>


      </div>


    </div>
    -->
  </div>

</div>
