<div *ngIf="user" class="space-y-6">

  <!-- HEADER -->
  <div class="flex items-center gap-4">

    <div class="relative group">

      <img
        [src]="sharedService.getImageUrl(user.avatarUrl)"
        class="w-16 h-16 rounded-full border object-cover"
      />

      <!-- overlay -->
      <label class="absolute inset-0 flex items-center justify-center
                bg-black/40 opacity-0 group-hover:opacity-100
                cursor-pointer rounded-full transition">
        <span class="text-white text-xs">Change</span>
        <input
          type="file"
          class="hidden"
          accept="image/*"
          (change)="onAvatarSelected($event)"
        />
      </label>

    </div>

    <div>
      <h2 class="text-lg font-semibold text-gray-800">
        {{ user.name }}
      </h2>

      <span class="inline-block text-xs text-gray-600">
        Joined at {{ user.createdAt | date }}
      </span>
    </div>

  </div>

  <!-- CARD -->
  <div class="divide-y border rounded-xl overflow-hidden text-sm">

    <!-- PHONE -->
    <div class="flex justify-between items-center px-4 py-3">

      <div class="flex flex-col flex-1">
        <span class="text-gray-500">Phone</span>

        <ng-container *ngIf="editingField !== 'phone'; else editPhone">
          <span class="font-medium text-gray-800">
            {{ user.phoneNumber || 'Not provided' }}
          </span>
        </ng-container>

        <ng-template #editPhone>
          <input
            [(ngModel)]="editModel.phoneNumber"
            class="mt-1 w-full border rounded-lg px-3 py-2"
          />
        </ng-template>

      </div>

      <!-- edit button -->
      <button
        *ngIf="editingMode"
        (click)="startEdit('phone')"
        class="text-sm text-gray-400 hover:text-gray-700 transition">

        Edit
      </button>

    </div>

    <!-- COUNTRY -->
    <div class="flex justify-between items-center px-4 py-3">

      <div class="flex flex-col flex-1">
        <span class="text-gray-500">Country</span>

        <ng-container *ngIf="editingField !== 'country'; else editCountry">
          <span class="font-medium text-gray-800">
            {{ user.country || 'Not provided' }}
          </span>
        </ng-container>

        <ng-template #editCountry>
          <select
            [(ngModel)]="editModel.country"
            class="mt-1 w-full border rounded-lg px-3 py-2">

            <option *ngFor="let c of countries" [value]="c">
              {{ c }}
            </option>

          </select>
        </ng-template>

      </div>

      <!-- Edit button -->
      <button
        *ngIf="editingMode"
        (click)="startEdit('country')"
        class="text-sm text-gray-400 hover:text-gray-700 transition">

        Edit
      </button>

    </div>

    <!-- EMAIL -->
    <div class="flex justify-between items-center px-4 py-3">

      <div class="flex flex-col flex-1">

        <span class="text-gray-500">Email</span>

        <ng-container *ngIf="editingField !== 'email'; else editEmail">

          <span class="font-medium text-gray-800">
            {{ user.email }}
          </span>

          <span class="text-xs text-gray-400" *ngIf="!user.emailVerified">Email is not verified</span>

        </ng-container>

        <ng-template #editEmail>
          <input
            [(ngModel)]="editModel.email"
            class="mt-1 w-full border rounded-lg px-3 py-2"
          />
        </ng-template>
      </div>

      <!-- EDIT BUTTON -->
      <button
        *ngIf="editingMode"
        (click)="startEdit('email')"
        class="text-sm text-gray-400 hover:text-gray-700 transition">
        Edit
      </button>
    </div>

  </div>

  <!-- GLOBAL ACTION BUTTON -->
  <div class="flex justify-end gap-3 pt-2">

    <button
      *ngIf="!editingMode"
      (click)="enableEditMode()"
      class="px-4 py-2 text-sm bg-gray-100 rounded-lg hover:bg-gray-200">

      Edit Profile
    </button>

    <button
      *ngIf="editingMode"
      (click)="save()"
      class="px-4 py-2 text-sm bg-blue-600 text-white rounded-lg hover:bg-blue-700">

      Save
    </button>

    <button
      *ngIf="editingMode"
      (click)="cancelEdit()"
      class="px-4 py-2 text-sm bg-gray-100 rounded-lg hover:bg-gray-200">

      Cancel
    </button>

  </div>

</div>
