<div
  class="w-full
       md:max-w-xl
       md:justify-self-center
       mb-1"
>

  <div class="relative w-full">

    <!-- Search icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="
        absolute
        right-3
        top-1/2
        -translate-y-1/2
        w-4
        h-4
        text-slate-400
      "
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-4.35-4.35m1.35-5.65a7 7 0 11-14 0 7 7 0 0114 0z"
      />
    </svg>

    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      placeholder="Search products, companies..."
      class="
        w-full
        rounded-lg
        border
        px-3
        pr-10
        py-2
        text-sm
        focus:outline-none
        focus:ring-2
        focus:ring-gray-200
      "
    />


    <!-- SUGGESTIONS -->
    <div
      *ngIf="suggestions.length"
      class="absolute left-0 right-0 mt-2
                 z-50 bg-white border
                 rounded-xl shadow-lg
                 overflow-hidden">


      <button
        *ngFor="let item of suggestions"
        (click)="selectSuggestion(item)"
        class="w-full flex items-center justify-between
                   gap-3 px-4 py-2 text-sm
                   hover:bg-gray-100">


        <div class="flex items-center gap-2">


          <img
            *ngIf="item.type === 'COMPANY'"
            [src]="item.logoUrl | imageUrl"
            class="h-6 w-6 rounded-full object-cover border">


          <span class="flex items-center gap-1">

                {{ item.name }}

            <svg
              *ngIf="item.type === 'COMPANY' && item.verified"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-4 w-4 text-sky-500"
              fill="currentColor">

                  <circle cx="12" cy="12" r="10" />
                  <path
                    d="M10 12.5 8.5 11 7 12.5 10 15.5 17 8.5 15.5 7z"
                    fill="white" />

                </svg>

              </span>

        </div>


        <span
          *ngIf="item.type === 'COMPANY'"
          class="text-xs text-slate-400 font-medium">

              company

            </span>


      </button>


    </div>


  </div>

</div>
