<div class="bg-white border-b sticky top-0 z-50">

  <div
    class="
      max-w-6xl mx-auto px-4
      h-14
      flex items-center justify-between
    "
  >


    <!-- LEFT -->
    <div class="flex items-center gap-3">


      <!-- MOBILE BURGER -->
      <button

        class="
        md:hidden
        p-2
        rounded-lg
        hover:bg-gray-100
      "
        (click)="toggleMenu()"
      >

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 text-gray-700"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">

          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"/>

        </svg>

      </button>



      <!-- BRAND DESKTOP -->
      <a
        routerLink="/"
        class="
    hidden md:flex
    items-center
    gap-2
    font-bold
    text-lg
    text-gray-800
  "
      >
        <img
          src="/icon.png"
          alt="ReviewHood logo"
          class="w-8 h-8"
        />

        <span>ReviewHood</span>
      </a>



      <!-- SECTION TITLE -->
      <div

        class="
        hidden md:block
        absolute
        left-1/2
        -translate-x-1/2
        text-sm
        font-semibold
        text-gray-800
      "
      >
        Account Settings
      </div>

      <!-- MOBILE TITLE -->

      <div

        class="
        md:hidden
        text-base
        font-semibold
        text-gray-800
        absolute
        left-1/2
        -translate-x-1/2
      "
      >
        Account
      </div>


    </div>



    <!-- BACK -->
    <a
      routerLink="/"
      class="
        text-sm
        text-gray-600
        hover:text-black
        transition
        flex
        items-center
        gap-1
      "
    >

      <span class="md:hidden">
        Back
      </span>

      <span class="hidden sm:inline">
        Home
      </span>

    </a>


  </div>

</div>
