<!-- HEADER -->
<app-account-header
  (menuToggle)="sidebarOpen = !sidebarOpen">
</app-account-header>


<!-- PAGE WRAPPER -->
<div class="bg-gray-50 min-h-[calc(100vh-56px)] py-6">

  <div
    class="
    max-w-6xl mx-auto px-4
    flex
    gap-6
    items-stretch
  "
  >
    <!-- DESKTOP SIDEBAR -->
    <aside
      class="
    hidden
    md:flex
    md:w-1/4
  "
    >
      <div
        class="
      bg-white
      border
      rounded-xl
      p-4
      w-full
      h-full
      min-h-[calc(100vh-104px)]
      sticky
      top-20
    "
      >
        <app-account-sidebar></app-account-sidebar>
      </div>
    </aside>


    <!-- MOBILE SIDEBAR OVERLAY -->
    <div
      *ngIf="sidebarOpen"
      class="
        fixed
        inset-0
        z-50
        md:hidden
      "
    >
      <!-- BACKDROP -->
      <div
        class="
          absolute
          inset-0
          bg-black/30
        "
        (click)="sidebarOpen=false"
      ></div>
      <!-- DRAWER -->
      <aside
        class="
          absolute
          left-0
          top-0
          h-full
          w-72
          bg-white
          shadow-xl
          p-4
        "
      >
        <app-account-sidebar
          (closeSidebar)="sidebarOpen=false">
        </app-account-sidebar>
      </aside>
    </div>
    <!-- CONTENT -->
    <main
      class="
        w-full
        md:w-3/4
      "
    >
      <div

        class="
        bg-white
        border
        rounded-xl
        p-4
        md:p-6
        min-h-[calc(100vh-104px)]
      "
      >
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
